<div class="giscus">
    <script src="https://giscus.app/client.js"
        data-repo="thomaslevesque/blog-fr"
        data-repo-id="MDEwOlJlcG9zaXRvcnkyNjA5MTM5MjQ="
        data-category="Blog comments"
        data-category-id="DIC_kwDOD407BM4CY50g"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="light"
        data-lang="fr"
        crossorigin="anonymous"
        async>
    </script>
</div>
